[Unit]
Description=Autocon - automatic video converter
After=local-fs.target

[Service]
Type=simple
ExecStart=/home/t3rmit3/gits/autocon/autocon.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
